.btcpanel{
    background-color: #2e2532;
    top:50px;
    z-index: 99;
}
.ethpanel{
    background-color: #2e2532;
    top:50px;
    z-index: 99;
}
.viewoffers{
    background-color: #3e0064;
    width: max-content;
    z-index: 99;
    padding: 1rem 2rem;
}
.pios{
    position: absolute;
    background: transparent;
    width: 100vw;
    /* height: 100vh; */
}

@media screen and (max-width:800px) {
    .display-3{
        font-size: 36px;
    }

    .more{
        font-size: 20px;
    }

    .eth {
        display: flex;
        flex-direction: column;
    }

    .fs-5 {
        font-size: 15px!important;
    }

    /* .btcpanel{
        width: 100% !important;
    } */
}